@{
    ViewBag.Title = "个人设置";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Gllo.Models.PMInfo pmInfo = ViewBag.pmInfo;
}
@section header{
    <link type="text/css" rel="Stylesheet" href="/Content/themes/default/user.css" />
    <script type="text/javascript">
        $.ready(function () {

        });
    </script>
}
<div class="main">
    <div class="here">
        <a href="/">首页</a>&gt;<a href="/Account.html">我的账户</a>&gt;<span>个人设置</span></div>
    <div class="sidebar">
        <div class="newsCates">
            <div class="box">
                <div class="boxTit">
                    <div class="boxTLine">
                    </div>
                    <div class="boxTitBG">
                        <strong>用户中心</strong></div>
                </div>
            </div>
            <div class="boxCon">
                <div class="catesCon">
                    <dl>
                        <dt><a>交易管理</a></dt>
                        <dd style="display: block"><ul>
                            <li><b><a href="/User/Orders.html">我的订单</a></b></li>
                            <li><b><a href="/Cart.html">购物车</a></b></li>
                            <li><b><a href="/User/ReturnExchangeList.html">退换货申请单</a></b></li>
                            <li><b><a href="/User/Fav.html">我的收藏</a></b></li>
                            <li><b><a href="/User/Comments.html">我的评论</a></b></li>
                        </ul>
                        </dd>
                        <dt><a>账号管理</a></dt>
                        <dd style="display: block"><ul>
                            <li class="cur"><b><a href="/PM/List.html">短消息</a></b></li>
                            <li><b><a href="/User/Info.html">个人设置</a></b></li>
                            <li><b><a href="/User/Password.html">修改密码</a></b></li>
                        </ul>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
    <div class="helpcenter">
        <h1>短消息查看</h1>
        <div class="helpcenterCon">
            <h1>@(new MvcHtmlString(pmInfo.Title))</h1>
            <div class="artiTime">
                发送时间：@pmInfo.PMTime.ToString("yyyy-MM-dd")</div>
            <div class="articleCon">
                @(new MvcHtmlString(pmInfo.Content))
            </div>
            <div class="articlePN">
                <a href="/PM/List.html" style="float: left; color: #217272">&lt;&lt;返回列表</a>
            </div>
        </div>
    </div>
</div>
