* { margin: 0px; padding: 0px; }
body { font-size: 12px; font-family: 宋体,Arial; }
ul, ol, li { list-style: none; }
a { text-decoration: none; color: #555; }
a:hover { text-decoration: underline; color: #cc0000; }
table { border-collapse: collapse; }
th { font-weight: normal; text-align: left; }
img { border: 0px; }
em { font-style: normal; }

.clear { clear: both; width:100%; height:0px; overflow: hidden; }

.entrance { background:url(images/entrance.jpg); width: 1001px; height: 600px; display: block; margin: 0px auto; }

.hpHeader { background: url(images/hpHeader.jpg) no-repeat; height: 190px; width: 1002px; margin: 0px auto; overflow: hidden; }
.hpLinks { text-align: right;  color: #fff; margin: 26px 32px 0px 0px; }
.hpLinks a { color: #fff; margin: 0px 4px;}
.hpCon { width: 1002px; margin: 0px auto; overflow: hidden; }
.hpConL { float: left; background: url(images/hpConL.jpg) no-repeat; width: 87px; height: 101px; }
.hpConC { float: left;width: 366px; height: 101px;overflow: hidden; }
.hpConR { float: left; background: url(images/hpConR.jpg) no-repeat; width: 549px; height: 101px; }
.hpConB { clear: both; background: url(images/hpConB.jpg) no-repeat; width: 1002px; height: 105px; overflow: hidden; }
.hpConB ul { float: left; margin-left: 87px; _display: inline; }
.hpConB li { float: left; margin-right: 2px; _display: inline; }
.hpConB li img{ width: 51px;height: 102px; }
.hpFooter { background: url(images/hpFooter.jpg) no-repeat; height: 216px; width: 1002px; margin: 0px auto; overflow: hidden; }

.hpNav { margin: 64px 0px 0px 70px; }
.hpNav a { float: left; width: 42px; height: 20px; margin-left: 18px; }
.hpNav a.hpIndex { width: 24px; }
.hpNav ul { float: left; }
.hpNav span { width: 60px; position: absolute; background: #ddd; left: 18px; top: 20px; line-height: 20px; text-align: center; border: 1px solid #fff; display: none; opacity: 0.5; filter: alpha(opacity=50);}
.hpNav span a { margin-left: 0px; color: #000; background: #ddd;width: 100%; height: 20px; line-height:20px; overflow: hidden; }
.hpNav span a:hover { text-decoration: none; color: #000; background: #cdcdcd; }
.hpNav li { float: left; _display: inline; height: 20px; position: relative; }
/*
.hpNav span#navDrop2 { width: 60px; }
*/
.hpNav span#navDrop1 { width: 88px; left:8px; }
.hpNav span#navDrop2 { width: 320px;}
.hpNav span#navDrop2 a { width: 25%; }
.hpNav span { float: left; position: absolute; }
.hpNav a.hp3D { width: 32px; }
.hpNav a.hpPrd { margin-left: 16px; width: 44px; }

.hpSearch { float: right; margin-right: 90px; width: 240px; _display: inline; height: 60px; }
.hpKeywords { height: 18px; margin: 2px 0px 0px 22px; float: left; font-size: 12px; border: 0px; color: #666; width: 136px; background-color: Transparent; }
.hpBtnSearch { float: right; width: 60px; border: 0px; margin-top: 2px; height: 17px; background-color: Transparent; cursor: pointer; }

.hpCorporation { margin: 150px 0px 0px 46px; overflow: hidden; }
.hpCorporationIns { margin-top: 20px; float: left; }
.hpCorporation a { float: left; width: 42px; height: 20px; margin-left: 6px; background:#fff;opacity: 0; filter: alpha(opacity=0); }

div.hpEntrance { float: right; height: 80px; width: 142px;  }
a.hpEntrance {height: 20px; width: 103px; display: block;margin-left: 0px;}

.music { clear: both; color:#666; padding-top: 23px; height: 30px; overflow: hidden; }
.music span{ cursor: pointer;}
.music span.cur{ cursor: default; color:#cc0000; }

.logo { float: left; margin: 50px 0 0 12px; }
.header { font-family:微软雅黑; margin: 0px auto; width: 950px; height: 130px; margin-bottom: 20px; position: relative; overflow: visible; border-bottom: 1px solid #ccc; padding-top: 0.2px; }
.headerR { text-align: right; margin-top: 50px; }
.headerLink {height: 20px; overflow: hidden;}
.headerLink a { margin: 0px 0px 0px 4px; display: inline-block; color:#565656; }
.headerLink span { color:#565656; font-weight: bold; }
.headerLink em { color:#565656; }
.home { background: url(images/home.jpg) no-repeat; padding: 0px 0px 0px 18px; }
.map { background: url(images/map.jpg) no-repeat; padding: 0px 0px 0px 18px; }
.contact { background: url(images/contact.jpg) no-repeat; padding: 0px 0px 0px 18px; }
.lang { background: url(images/lang.gif) no-repeat;display: inline-block;width: 75px; height: 17px; line-height: 17px; text-align: left; cursor: default; }
.lang {*display: inline;}
.lang a:hover { text-decoration: none; color: #555; }
.langSel { margin: 0px 0px 0px 6px; display: inline-block; float: left; line-height: 16px; color: #555; }
.langDropBtn { width: 16px; float: right; height: 16px; cursor: pointer; background-color: Transparent; }
a.hello:hover { text-decoration:none; color:#333; }

.headerSearch { float: right; background: url(images/search.jpg) no-repeat; width: 222px; height: 22px; margin-top: 15px; display: inline; display: none; }
.keywords { height: 18px; line-height: 18px; margin: 2px 0px 0px 22px; float: left; font-size: 12px; border: 0px; width: 176px; color: #999; }
.btnSearch { float: right; border: 0px; margin: 4px 4px 0px 0px; background-color: Transparent; cursor: pointer; background: url(images/btnSearch.jpg); width: 14px; height: 14px; }

.nav { margin: 0px auto; text-align: right; }
.nav li { text-align: left; padding-left: 15px;margin-left: 15px; display: inline-block; zoom:0; _display: inline; height:28px; border-left: 1px solid #ccc; line-height: 28px; font-size: 14px; font-weight:bold; }
.nav li span{ display:none; width: 80px; position: absolute; z-index:1000; background: #fff; left: 0px; top: 20px; line-height: 23px;  border: 1px solid #efefef; opacity: 0.9; filter: alpha(opacity=90); display: none; }
.nav span a { display: inline-block; margin-left:0px; color: #565656; background: #fff;width: 100%; height: 22px; line-height:23px; text-align: center; }
.nav span a:hover { text-decoration: none; color: #565656; background: #f1f1f1; }
.nav #navChild1 { width: 400px; overflow: hidden; }
.nav #navChild1 em { width: 500px; float: left; }
.nav #navChild1 a { width: 96px;}
.nav #navChild2 { width: 100px; }

.iflash { margin-top: 10px; width: 950px; height: 416px; overflow: hidden; }
.iflashCon { float: left; width: 820px; height: 416px; overflow: hidden; position: relative; }
.iflashCon a { width: 820px; height: 416px; position: absolute; display: block; }
.iflashCon img { width: 820px; height: 416px; }
.iflashNav { width: 124px; float: right; }
.iflashNav li { width: 124px; height: 80px; margin-bottom: 4px; opacity: 0.6; filter: alpha(opacity:60); font-weight: bold; font-size: 14px; color:#000; overflow: hidden; }
.iflashNav li.cur { width: 124px; margin-bottom: 4px; opacity: 1; filter: alpha(opacity:100); }
.iflashNav img { width: 124px; height: 80px; }

.help { padding-top: 20px; margin: 0px auto; width: 950px; overflow: hidden; clear: both; }
.helpIns { width: 980px; }
.help dl { float: left; width: 160px; margin:0px 10px 0px 20px;_display: inline; }
.help dl dt { height: 24px;line-height: 25px; overflow: hidden; font-weight: bold; background-color: #f1f1f1; padding-left: 8px; }
.help dl dd { height: 20px;line-height: 21px; overflow: hidden; padding-left: 8px;}

.friends {  margin: 20px auto 0px auto; width: 948px; border-right:1px solid #dbdbdb; border-left:1px solid #dbdbdb;border-bottom:1px solid #dbdbdb;overflow: hidden; clear: both; }
.friendsTit { height: 28px;line-height: 31px; overflow: hidden; padding-left: 15px; font-weight: bold; border-bottom:1px solid #dbdbdb; background: url(images/titBg.jpg) repeat-x;}
.friendsCon { width: 900px; margin: 15px 0px 15px 30px;overflow: hidden; }
#friends { width: 2000px; }
#friends a { float: left; margin-right: 20px; }
#friends img { float: left; width: 160px; height: 90px; }

.footer { padding-top: 20px; margin: 0px auto; width: 950px; overflow: hidden; clear: both; }
.footerCon { border-top: 1px solid #dbdbdb; border-bottom: 1px solid #dbdbdb; background: #ebebeb; line-height: 29px; height: 26px; }
.footerCon span { float: left; margin-left: 10px; }
.footerCon a { color: #000; }
.footerLinks { text-align: right; padding-right: 15px; }
.footerLinks a { text-align: right; margin: 0px 4px; }
.icp { padding: 10px 0px 20px 0px; overflow: hidden; height: 100%; clear: both; }
.icp span { float: left; margin-left: 10px; }
.icp div { float: right; margin-right: 15px; _display: inline; }
.icp div b { font-weight: normal; color: #565656; }

.main { overflow: hidden; width: 950px; margin: 0px auto; }

.onSale { margin-top: 20px; }
.onSaleTit { height: 20px; background: url(images/onSaleTit.jpg) no-repeat; }
.onSaleCon { background: url(images/onSaleBg.jpg) repeat-x; height: 143px; overflow: hidden; }
.onSaleConIns { height: 139px; width: 948px; border-left: 1px solid #dbdbdb; border-right: 1px solid #dbdbdb; }
.onSaleConIns li { float: left; width: 225px; height: 129px; padding: 5px 6px 5px 5px; border-right: 1px solid #dbdbdb; }
.onSaleConIns li.lst { border-right: 1px solid #fff; }
.onSaleConIns li img { width: 225px; height: 129px; }

.prodsSearch { float: right; background: url(images/search.jpg) no-repeat; width: 222px; height: 22px; margin-top: 18px; }
.btnSearch1 { float: right; border: 0px; margin: 3px 3px 0px 0px; background-color: Transparent; cursor: pointer; background: url(images/btnSearch1.jpg); width: 15px; height: 15px; }

.prods { float: left; width: 712px; background: url(images/titBg.jpg) repeat-x; margin-top: 10px; }
.prodsTit { padding: 0px 15px 10px 15px; height: 100%; overflow: hidden; border-right: 1px solid #dbdbdb; border-left: 1px solid #dbdbdb; }
.prodsTabs { float: left; width: 220px; margin-top: 16px; height: 24px; background: url(images/titC.jpg) repeat-x; }
.prodsTabs ul { float: left; line-height: 24px; height: 24px; padding-left: 6px; background: url(images/titL.jpg) no-repeat; }
.prodsTabs li { float: left; font-size: 14px; color: #fff; font-family: 微软雅黑,黑体; font-weight: bold; text-align: center; width: 66px; margin-top: 2px; cursor: pointer; }
.prodsTabs li.cur { background: url(images/tabCur.jpg) no-repeat; color: #333; cursor: default; }
.tabR { float: right; height: 24px; background: url(images/titR.jpg) no-repeat; width: 9px; }

.prodsCon { background: url(images/onSaleBg.jpg) repeat-x; width: 712px;height: 143px; overflow: hidden; }
.prodsCon ul { height: 139px; width: 711px; border-left: 1px solid #dbdbdb; border-right: 1px solid #dbdbdb; overflow: hidden; }
.prodsCon li { float: left; width: 225px; height: 129px; padding: 5px 6px 5px 5px; border-right: 1px solid #dbdbdb; overflow: hidden; }
.prodsCon li.lst { border-right: 1px solid #fff; }
.prodsCon li img { width: 225px; height: 129px; }
.prodsMore { text-align: right; padding: 10px 4px 0px 0px; }
.service { float: right; width: 228px; margin-top: 10px; }
.servicePic { border: 1px solid #dbdbdb; width: 228px; height: 70px; }
.serviceCon { margin-top: 10px; background: url(images/serviceBg.jpg) no-repeat; height: 144px; overflow: hidden; }
.serviceCon ul { margin: 14px 0px 0px 14px; line-height: 24px; }
.serviceCon li { padding-left: 14px; line-height: 20px; background: url(images/ico.jpg) no-repeat left 4px; }

.here { line-height: 26px; margin-top: 4px; }
.here a, .here span { margin: 0px 4px; }
.here span { color: #565656; }
.sidebar { float: left; width: 200px; }
.newsCates { width: 198px; overflow: hidden; }
.cates { width: 198px; overflow: hidden; }
.catesTit { line-height: 30px; height: 30px; font-size:14px; font-family: 微软雅黑,黑体; font-weight: bold; margin: 4px 3px 3px 3px; }
.catesTitL { height: 30px; margin-bottom: 10px;} 
.catesTitR { height: 30px; padding: 0px 6px; } 
.catesCon dt{margin: 0px 4px;}
.catesCon dt a{ line-height: 30px; height: 30px; padding-left: 15px; font-size: 14px; font-family: 微软雅黑,黑体; display: block; color: #666; font-weight: bold;}
.catesCon dt.cur a { text-decoration: none; color: #333; background-color:#f1f1f1; }
.catesCon ul li { margin-right: 4px; }
.catesCon ul li b { display: block; font-weight: normal; height: 28px;line-height: 28px; margin-left: 6px; padding-left: 20px; }
.catesCon ol li {  height: 28px;line-height: 28px; margin-left: 6px; padding-left: 40px; }
.catesCon li.cur b {color: #565656; background-color:#f1f1f1;}
.catesCon ol li.cur {color: #565656; background-color:#f1f1f1;}
.catesCon dd { display: none; margin-bottom: 10px; }
.cates1Con {margin: 6px;}
.cates1Con li { line-height: 25px; height: 24px; }
.cates1Con li.curr { background:#f1f1f1; padding-left: 4px; }
.cates1Con li a{ font-size: 14px; color:#333; font-weight: bold; }
.cates1Con li span { color:#999; font-size: 13px; }
.searchRes {float: right; width: 740px; overflow: hidden;}
.searchResTit { border-top: 2px solid #ddd; color:#565656; font-size: 14px; line-height: 25px; font-weight: bold; }
.noSearch { margin: 60px 0px 0px 20px; font-size: 18px; font-weight: bold; color:#666; background: url(images/tan.jpg) no-repeat; height: 91px;  line-height: 52px;padding-left: 60px; }
.searchTags { margin-top: 15px; border:1px solid #dbdbdb; background:#f1f1f1; line-height: 16px; padding: 4px 15px 3px 15px }
.searchRes .page { background:#f1f1f1; height: 26px; line-height: 27px; overflow: hidden; }

.recommend { margin-top: 10px; }
.recommendTit { font-size: 14px; color:#333; font-weight: bold; padding: 0px 5px; line-height: 29px; height: 27px;border-bottom: 1px solid #dbdbdb; }
.recommendCon { padding-bottom: 10px; }
.recommendCon dl { width: 186px; overflow: hidden; margin: 10px 0px 0px 8px; }
.recommendCon dt{width: 60px; height: 60px; float: left; }
.recommendCon dt img { width: 60px; height: 60px; }
.recommendCon dd { float: right; width: 120px; line-height: 16px; }
.recommendCon dd span { color:#cc0000;}
.recommendCon dd a { color:#565656;}

.prdSort { margin-top: 10px; border-bottom: 2px solid #ddd;width: 740px; overflow: hidden; line-height: 27px;height: 26px; }
.prdSortTit { float: left; padding-left: 20px; }
.prdSort ul { float: left; }
.prdSort li { float: left; padding: 0px 10px;height: 24px;line-height: 24px; margin-top: 2px; font-size: 14px; font-weight: bold; }
.prdSort li.cur { background: #ddd; color:#565656;line-height: 28px; }
.prdSort li.cur a{  color:#565656;}

.prodList { width: 110%; overflow: hidden; }
.prodList dl { float: left; margin: 20px 0px 0px 18px; padding: 6px; display: inline; }
.prodList dt { width: 150px; height: 150px; margin-bottom: 3px; }
.prodList dd { line-height: 20px; }
.prodList dd span{ color:#cc0000;}
.prodList img { width: 150px; height: 150px; }

.prodContent { float: right; width: 660px; overflow: hidden; }
.prodCon { overflow: hidden; width: 660px; }
.prodPics { float: left; border: 1px solid #dbdbdb; padding: 5px; }
#prodPics img { width: 300px; height: 300px; cursor:crosshair; }
#prodPics { width: 300px; height: 300px; }
.viewPic { width: 300px; height: 300px; border: 1px solid #ddd; position: absolute; overflow: hidden; left: 0px; top: 0px; background:#fff; z-index:1000; }
.viewPic img { width: 600px; height: 600px; display: block; position: absolute; }

.colors { margin-top: 6px; margin-left: 15px;  }
.colors img { cursor: pointer; width: 40px; height: 40px; margin: 5px 0px 5px 5px;}
.colors img.curr { border: 1px solid #cc0000; }

.prodSPicList { border-top: 1px dotted #ddd; padding-top: 5px; margin-top: 5px; overflow: hidden;width: 300px; }
.prodSPicList img { width: 82px; height: 82px; cursor: pointer; }
.prodSPicList img.curr { width: 80px; height: 80px; border: 1px solid #cc0000;}
.prodSPicList div { float: left; width: 260px; overflow: hidden;  height: 82px; padding-left: 4px; }
.prodSPicList ul { width: 570px; overflow: hidden; height: 82px; }
.prodSPicList li { float: left; width: 82px;  height: 82px; display: inline; margin:0px 1px 0px 4px; }
.prodInfo { width: 340px; float: right; position: relative; }
.prdMain h1 { font-size: 18px; padding-bottom: 5px; color: #333; }
.prodInfo ul { margin-left: 15px; }
.prodInfo li b { font-size: 20px; color: #cc0000; font-family: 黑体; }
.prodInfo li { padding: 8px 0px; }
#buyQty { width: 30px; height: 18px; border: 1px solid #bdbdbd; }
.buyBtns { margin-top: 15px; }

#prevPic { cursor: pointer; background: url(images/photo.png) no-repeat; width: 14px; float: left; height: 38px; margin-top: 20px; }
#nextPic { cursor: pointer;background: url(images/photo.png) no-repeat -20px 0px; width: 14px; float: right; height: 38px; margin-top: 20px; }

#prevPic.dsb { cursor: default; background: url(images/photo.png) no-repeat -40px 0px;}
#nextPic.dsb { cursor: default;background: url(images/photo.png) no-repeat -60px 0px;  }

.prodDesc { }
.prodDescTit { background:#ddd; font-weight: bold; font-size: 14px; width: 100%; overflow: hidden; border: 2px solid #ddd; margin-top: 10px; }
.prodDescTit li { float: left; height: 24px; line-height: 25px; display: inline; padding: 0px 10px; cursor: pointer; color: #666; }
.prodDescTit li.cur { background: #ddd; color: #fff; }
.prodDescCon { padding: 10px; line-height: 20px; margin-top: 5px; border: 1px solid #ddd; }

.page a, .page span { padding-left: 5px; padding-right: 5px; color: #000; float: none; }
.page a.btn1 { padding-left: 0px; padding-right: 0px; }
.page .current { color: Red; font-weight: bold; }
.page .go { width: 22px; height: 20px; line-height: 14px; font-size: 12px; padding: 0px; margin: 0px 3px; }
.page .pageNum { width: 40px; height: 16px; border: 1px solid #bdbdbd; margin: 0px; padding: 0px; font-size: 12px; }
.page { margin: 0px auto; margin-top: 10px; line-height: 22px; text-align: right; clear: both; overflow: hidden; width: 100%; }
.page .pages { float: left; }
.page div { display: inline; }

a.btn1 { display: inline-block; vertical-align: top; background: url(../manage/images/btn1.gif) no-repeat right 0px; height: 21px; color: #666; overflow: hidden; cursor: pointer; line-height: 21px; _line-height: 22px; margin-left: 5px; }
a.btn1:hover { text-decoration: none; color: #cc0000; }
a.btn1 em { display: inline-block; background: #fff url(../manage/images/btn1.gif) no-repeat; padding: 0px 0px 0px 5px; margin: 0px 5px 0px 0px; font-variant: normal; font-style: normal; }

.onsale {overflow: hidden; width: 950px;}
.onsaleCon {width: 101%; overflow: hidden;}
.onsaleCon dl { float: left; margin-right: 10px; margin-left: 2px; padding: 6px; }
.onsaleCon dt { width: 135px; height: 135px; }
.onsaleCon dd { line-height: 20px; }
.onsaleCon dd span{ color:#cc0000; }
.onsaleCon img { width: 135px; height: 135px; }

.helpcenter { float: right; width: 738px; border:1px solid #dbdbdb; overflow: hidden; margin-top: 8px; }
.helpcenter h1{ font-size: 14px; margin: 10px 0px 0px 10px; }
.helpcenterCon {margin: 10px;}

.dialog { border: 2px solid #ccc; visibility: hidden; overflow: hidden; position: absolute; background: #fff; top: 0px; left: 0px; z-index: 5000; }
.dialog * { overflow: visible; }
.dialogBg { border: 0px; background: #fff; opacity: 0; filter: alpha(opacity=0); display: none; position: absolute; top: 0px; left: 0px;  z-index: 5000; }
.dialogBgDIV { border: 0px; padding: 0px; margin: 0px; display: none; position: absolute; top: 0px; left: 0px; background: #000;  z-index: 5000; }
.dialogHeader { border-bottom: 1px solid #f1f1f1; background: #f1f1f1 url(images/dialogTit.jpg) no-repeat 8px 9px; padding-left: 22px; padding-right: 8px; line-height: 28px; height: 26px; color: #565656; overflow: hidden; font-size:14px; font-weight: bold; cursor: move; -moz-user-select: none; }
.dialogCloser { float: right; margin-top: 5px; width: 16px; height: 17px; background: url(images/dialogClose.gif) no-repeat; cursor: pointer; }
.dialogCon { padding: 10px; background: #fff; }

.tabTit { border-bottom:1px solid #b4b4b4; height: 27px;line-height: 29px; font-size: 14px; position: relative; }
.tabTit ul { position: absolute; top: 1px; left: 10px; text-align: center; z-index:1000;}
.tabTit ul li{ float: left; width: 85px; background:url(images/tab.jpg) no-repeat 0px -27px; height: 27px; overflow: hidden; margin-left: 10px; cursor: pointer; color:#565656; }
.tabTit ul li.curr{ font-weight: bold; height: 27px; background:url(images/tab.jpg) no-repeat 0px 0px; color:#555; cursor: default; }

a.btn { display: inline-block; background: url(images/btnLeft.gif) no-repeat; height: 24px; color: #666; margin: 0px 5px 0px 0px; overflow: hidden; cursor: pointer; line-height: 25px; _line-height: 27px; }
a.btn:hover { text-decoration: none; color: #3b635b; }
a.btn em { display: inline-block; background: url(images/btnRight.gif) no-repeat right 0px; padding: 0px 5px; font-variant: normal; font-style: normal; }
a.btn span { display: inline-block; height: 24px; _background-position-y: 2px; }

a.btnDsb { display: inline-block; background: url(images/btnDsbLeft.gif) no-repeat; height: 24px; color: #666; margin: 0px 5px 0px 0px; overflow: hidden; line-height: 25px; _line-height: 27px; cursor: not-allowed; opacity: 0.5; filter: alpha(opacity=50%); }
a.btnDsb:hover { text-decoration: none; color: #666; }
a.btnDsb em { display: inline-block; background: url(images/btnDsbRight.gif) no-repeat right 0px; padding: 0px 5px; font-variant: normal; font-style: normal; height: 24px; background:#000; }
a.btnDsb span { display: inline-block; height: 24px; _background-position-y: 2px; }

a.btn1 { display: inline-block; vertical-align: top; background: url(images/btn1.gif) no-repeat right 0px; height: 21px; color: #666; overflow: hidden; cursor: pointer; line-height: 21px; _line-height: 22px; margin-left: 5px; }
a.btn1:hover { text-decoration: none; color: #cc0000; }
a.btn1 em { display: inline-block; background: #fff url(images/btn1.gif) no-repeat; padding: 0px 0px 0px 5px; margin: 0px 5px 0px 0px; font-variant: normal; font-style: normal; }

.hid { display: none; }
span.msg, span.err { font-size: 12px; position: absolute; margin: 2px 0px 0px 2px; float: left; line-height: 14px; padding: 2px 10px; }
span.msg { color: #0033CC; border: 1px solid #0033CC; background: #D3DCEB; }
span.err,em.err { color: #cc0000; border: 1px solid #cc0000; background: #ffcccc; }
em.err { font-size: 12px; line-height: 14px; padding: 2px 10px; }
em.loading,span.loading { padding-left: 18px; background: url(images/loading.gif) no-repeat; color:#666; height: 18px; font-size: 12px; line-height: 16px; display: inline-block; margin: 2px 0px 0px 2px; }
span.suc { padding-left: 18px; background: url(images/suc.gif) no-repeat; color:#666; height: 18px; font-size: 12px; line-height: 16px; display: inline-block; margin: 2px 0px 0px 2px; }

.grid { border-top: 1px solid #cdcdcd; background: url(images/thbg.gif) repeat-x; margin: 0px auto 0px auto; overflow: hidden; height: 100%; }
.grid div { clear: both; }
.gridHeader { background: url(images/point.png) repeat-y right 0px; width: 100%; height: 27px; line-height: 27px; float: left; color: #333; font-weight: bold; }
.gridHeader li { overflow: hidden; height: 27px; float: left; text-align: center; background: url(images/point.png) repeat-y left 0px; }
.gridHeader a { height: 27px; cursor: default; width: 100%; float: left; }
.gridHeader a:hover { color: #445055; text-decoration: none; }
.gridHeader em { height: 23px; width: 3px; background: #000; right: 0px; top: 1px; cursor: e-resize; float: right; opacity: 0; filter: alpha(opacity=0); }
.gridNumber { background: #f1f1f1; text-indent: 5px; border-top: 1px solid #fff; float: left; }
.gridRow { overflow: hidden; background:#fff url(images/point.png) repeat-y right 0px; border-bottom: 1px solid #ddd; line-height: 14px; clear: both; float: left; width: 100%; }
.gridCell { overflow: hidden; float: left; text-align: center; background: url(images/point.png) repeat-y left 0px; }
.gridCellItem { width: 100%; height: 100%; border: 3px solid transparent; border-color: transparent; _border-color: tomato; _filter: chroma(color=tomato); overflow: visible; }
.gridCellItem TBODY, .gridCellItem tr, .gridCellItem td { overflow: visible; }
.gridCellSign { padding-left: 20px; }
.gridCellSign .gridCellItem { float: left; text-align: left; }
.gridRowCur { background-color: #f1f1f1; }
.gridCellErr { background-color: #ffcccc; }
.grid .page { border: 1px solid #cdcdcd; border-top: 0px; width: auto; height: 100%; }
.gridChildCon { padding: 5px; border-left: 1px solid #ddd; border-right: 1px solid #ddd; border-bottom: 1px solid #ddd; clear: both; overflow: auto; visibility: visible; height: auto; }
.gridChildCon .grid { background: url(images/cthbg.gif) repeat-x; }
.gridChildCon .gridHeader { color: #666; height: 23px; line-height: 23px; }
.gridChildCon .gridHeader li { height: 23px; }
.gridChildCon .gridHeader a { color: #666; height: 23px; }
.gridChildCon .gridRowCur { background-color: #DFE8F6; }
.gridChildNon { height: 0px; overflow: hidden; }
.gridChildNon * { filter: alpha(opacity:0); }
.gridMinus { background: url(images/btnMinus.gif) no-repeat 6px center; width: 20px; float: left; margin-left: -20px; }
.gridPlus { background: url(images/btnPlus.gif) no-repeat 6px center; width: 20px; float: left; margin-left: -20px; }
.gridCellTextBox { border: 0px; border-top: 1px solid #adadad; border-left: 1px solid #adadad; width: 100%; background-color: Transparent; font-size: 12px; height: 100%; float: left; overflow: visible; line-height: 14px; margin: 1px 0px 0px 2px; }

.express { margin-top: 10px; padding-bottom: 10px; margin-left: 15px; }
.express input { vertical-align: top; *margin-top: -5px; }


.box { height: 100%; width: 100%; overflow: hidden; }
.boxTit { height: 37px; position: relative; overflow: hidden; }
.boxTit a.more { position: absolute; right: 10px; top: 14px; color: #51ac9a; font-size: 14px; }
.boxTLine { height: 28px; margin-top: 7px; border-top: 1px solid #ddd; border-left: 1px solid #ddd; border-right: 1px solid #ddd; border-bottom: 1px solid #cdcdcd; overflow: hidden; background: url(images/boxTit.gif) repeat-x 0px -1px; }
.boxTitBG { position: absolute; height: 25px; background: #92d6c9 url(images/boxTBG.gif) no-repeat; color: #fff; line-height: 28px; height: 28px; left: 10px; top: 2px; text-align: center; width: 99px; }
.boxTitBG a { color: #fff; }
.boxCon { border-left: 1px solid #ddd; border-right: 1px solid #ddd; border-bottom: 1px solid #ddd; height:100%; padding: 10px; overflow: hidden; }

.pi { width: 126px; }
.pi dt { width: 124px; height: 124px; border: 1px solid #f1f1f1; }
.pi img { width: 124px; height: 124px; }
.pi dd { padding: 0px 4px; line-height: 24px; height: auto; overflow: hidden; }
.pi span { color: #cc0000; }
.pi del { color: #666; }
.prds { width: 100%; overflow: hidden; }

.article { margin-top: 10px; border: 1px solid #ddd; }
h1.articleTit { padding: 15px 0px; text-align: center; color: #666; font-size: 18px; }
.artiTime { text-align: center; color: #00a48b; border-top: 1px solid #00a48b; padding: 6px 0px 0px 0px; margin: 4px 10px; font-size: 14px; }
.articleCon { padding: 10px; font-size: 14px; text-align: 18px; }
.articlePN{ padding: 10px; margin: 0px 20px; height: 100%; overflow: hidden; }

.bgSty { background: url(images/titBg.jpg) repeat-x; height: 100%; overflow: hidden; }

.prdMain { height: 100%; overflow: hidden; background: url(images/prdMain.gif) no-repeat; padding: 23px 37px 0px 37px; }
.buy { margin-top: 10px;margin-left: 15px;  }
#btnBuyNow { cursor: pointer; border: 0px; width: 127px; height: 37px; background: url(images/buyNow.gif) no-repeat; }
#btnAddToCart { margin-left: 10px; cursor: pointer; border: 0px; width: 127px; height: 36px; background: url(images/btnCart.gif) no-repeat; }

/* 日历_Begin */
.calendar { overflow: visible; background: #fff; margin-left: 0px; position: absolute; z-index: 1000; line-height: 18px; display: none; }
.calendar select { float: none; margin: 0px; padding: 0px; }
.calendar div { overflow: hidden; margin: 0px; padding: 0px; }
.calendar iframe { background: #fff; z-index: 1000; position: absolute; border: 0px; margin: 0px; }
.calendar span, .calendar a { float: left; line-height: 18px; height: 18px; width: 24px; padding: 0px; text-align: center; }
.calendar a.today { background: #666; color: #fff; }
.calendar a.current { font-weight: bold; color: #c00; }

.calendar .clendarCon { z-index: 1000; position: absolute; font-size: 12px; padding: 10px; width: 170px; border: 1px solid #15428B; }
.clendarTop { float: none; position: relative; text-align: center; }
.clendarTop a { width: auto; }
.clendarTop .prevMonth { float: left; }
.clendarTop .nextMonth { float: right; }
.calendar .week { font-weight: bold; color: #000; height: 20px; margin-top: 4px; }
.calendar .clendarBtm { text-align: center; margin-top: 4px; clear: both; float: none; position: relative; }
.clendarBtm a { float: none; }
.clendarBtm .prevYear { float: left; color: #c00; }
.clendarBtm .nextYear { float: right; color: #c00; }
/* 日历_End */

.prodCmt{ margin: 0px auto; }
.prodCmt td { padding-top: 6px; vertical-align: top; }
.prodCmt td.score { padding-top: 0px; }
.score ul { background: url(images/hoshi.jpg) no-repeat; width: 120px; height: 23px; cursor: pointer; }
.score ul li { width: 24px; height: 23px; float:left; }
.score ul li.s { background: url(images/score.jpg) no-repeat;  }

.redBtn { background: none repeat scroll 0 0 #CC0000; border-color: #FFCCCC #660000 #AA0000 #FFCCCC; border-style: solid; border-width: 1px; color: #FFFFFF; cursor: pointer; font-size: 12px; height: 22px; line-height: 22px; }

.toTop { bottom:0px;position: fixed; background:url(images/toTop.gif); display: block; right: 0; height:33px; width: 42px;}
* html .toTop {
position:absolute;bottom:auto;top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-42));left:expression(eval((document.documentElement.clientWidth-950)/2+950));
}

#OnlineService { top: 80px; position: fixed; display: none; right: 20px; width: 90px; border: 1px solid #b6e3da; text-align: center; padding-bottom: 6px; background:#fff; }
.OSTit { line-height: 25px; font-weight: bold; color: #565656; }
* html #OnlineService {
position:absolute;left:expression(eval(document.documentElement.clientWidth-112));top:expression(eval(document.documentElement.scrollTop+(document.documentElement.clientHeight-OnlineService.offsetHeight)/2.5));
}

.overIt { top:10px;position: fixed;display: block; right: 0; height:33px; width: 100px; color: #cc0000;}
.overIt span { font-weight: bold; }
* html .overIt {
position:absolute;bottom:auto;top:expression(eval(document.documentElement.scrollTop+10));left:expression(eval((document.documentElement.clientWidth-950)/2+950));
}

.redBtn { background: none repeat scroll 0 0 #CC0000; border-color: #FFCCCC #660000 #AA0000 #FFCCCC; border-style: solid; border-width: 1px; color: #FFFFFF; cursor: pointer; font-size: 12px; height: 22px; line-height: 22px; }