@{
    ViewBag.Title = "用户管理";
    Layout = "~/Areas/Manage/Views/Shared/_Layout.cshtml";
}
@section header{
    <style type="text/css">
        
    </style>
    <script type="text/javascript" src="/Scripts/grid.js"></script>
    <script type="text/javascript">
        $.ready(function () {
        });
    </script>
}
<div class="main">
    <div class="container">
        <div class="content"></div>
    </div>
</div>
