@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>错误信息</title>
</head>
<body>
    <h2>
        @{
            int errorType = ViewBag.errorType;
            switch (errorType)
            {
                case 1:
                    Response.Write("您还未登录或会话已过期，请<a href='/Manage/' target='_parent'>点击这里</a>登录。");
                    break;
                case 2:
                    Response.Write("您没有访问该页面的权限。");
                    break;
                default:
                    Response.Write("程序错误。");
                    break;
            }
        }
    </h2>
</body>
</html>
