@{
    Layout = "~/Areas/Manage/Views/Shared/_Layout.cshtml";
}
@section header{
    <script type="text/javascript" src="/Content/kindeditor/kindeditor.js"></script>
    <style type="text/css">
        .catesSelector { width: 200px; height: 200px; border: 1px solid #bdbdbd; padding: 4px; overflow-y: auto; float: left; }
        .catesSelector a { cursor: default; }
        .catesSelector a:hover { color: #333; text-decoration: none; }
        
        .txt { width: 400px; height: 18px; line-height: 18px; border: 1px solid #bdbdbd; }
        .num { width: 150px; height: 18px; line-height: 18px; border: 1px solid #bdbdbd; }
        .form input { }
        .form td { padding-top: 8px; color: #999; }
        .form th { padding: 8px 0px 0px 15px; font-weight: bold; color: #666; }
        .form th span { color: #cc0000; padding-right: 4px; }
        .newsContent strong span { color: #cc0000; padding-right: 4px; }
        .newsContent { padding: 0px 0px 0px 5px; color: #666; margin: 10px; }
        .newsContent strong { display: block; line-height: 26px; }
        #content { width: 600px; }
        h1 { color: #333; font-size: 18px; }
        #categories, #freightModels { color: #cc0000; font-weight: bold; }
        #categories span, #freightModels span { display: inline-block; border: 1px solid #cdcdcd; background: #f1f1f1; padding: 2px 4px; margin-left: 2px; }
    </style>
    <script type="text/javascript">

        $.ready(function () {

            function CategorySelector(categoryIds,callback) {
                var _self=this;
                var selectedCates=[];
                var selectors=[];
                var selectedCate;
                var preCate;
                var cates;
                var pFrg=document.createDocumentFragment();
                var container=$("DIV",pFrg)
                        .css({ width: "460px","overflow": "hidden" });

                var catesSelector=$("DIV",container)
                        .css("catesSelector");

                function createCates(data,deep) {
                    deep=deep||0;
                    var space="";
                    for(var i=0;i<deep;i++)
                        space+="　 ";
                    $.each(data,function (item) {
                        selectors.push(
                            $("A",catesSelector)
                            .css({ "height": "20px","display": "block","lineHeight": "21px" })
                            .prop("href","javascript:void(0);")
                            .prop("categoryID",item.categoryID)
                            .prop("categoryName",item.categoryName)
                            .html(space+item.categoryName)
                            .on("click",function () {
                                if(this!=selectedCate) {
                                    if(selectedCate)
                                        selectedCate.css({ "background": "#fff" });

                                    selectedCate=this;
                                    this.css({ "background": "#D8F79D" });
                                }
                            })
                        );
                        if(item.children) {
                            createCates(item.children,deep+1);
                        }
                    });
                };

                function clearCates() {
                    for(var i=selectedCates.length-1;i>=0;i--) {
                        selectedCates[i].remove();
                        selectedCates.splice(i,1);
                    };
                    preCate=null;
                }

                function pushCate(cate) {
                    selectedCates.push(
                        $("A",cates)
                        .prop("href","javascript:void(0);")
                        .prop("categoryID",cate.categoryID)
                        .css({ "height": "20px","display": "block","lineHeight": "21px" })
                        .html(cate.categoryName)
                        .on("click",function () {
                            if(this!=preCate) {
                                if(preCate)
                                    preCate.css({ "background": "#fff" });

                                preCate=this;
                                this.css({ "background": "#D8F79D" });
                            }
                        })
                    );
                };

                var cateDialog;
                $.post("/Manage/Product/GetProductCates/",function (res) {
                    if(res.success) {
                        var data=res.data;

                        createCates(data);

                        var buttons=$("DIV",container)
                        .css({ "width": "40px","marginTop": "80px","textAlign": "center","float": "left" });

                        $("BUTTON",buttons)
                        .prop("value","=>")
                        .on("click",function () {
                            if(!selectedCate)
                                alert("请选择商品类别");

                            pushCate(selectedCate);
                        });
                        $("BR",buttons)

                        $("BUTTON",buttons)
                        .prop("value"," X ")
                        .on("click",function () {
                            if(!preCate)
                                alert("请在右侧列表选择商品类别进行删除");

                            $.each(selectedCates,function (item,i) {
                                if(item.categoryID==preCate.categoryID) {
                                    selectedCates.splice(i,1);
                                    preCate.remove();
                                    preCate=null;
                                    return false;
                                }
                            });
                        });

                        cates=$("DIV",container)
                        .css("catesSelector");

                        var acceptCon=$("DIV",pFrg)
                        .css({ marginTop: "10px",textAlign: "center" });

                        $("A",acceptCon)
                        .css("btn1")
                        .html("<em>确定</em>")
                        .on("click",function () {
                            if(!selectedCates.length) {
                                alert("请至少选择一个商品的类别");
                                return false;
                            }
                            callback(_self.getSelectedCates());
                            cateDialog.close();
                        });

                        $("A",acceptCon)
                        .css("btn1")
                        .html("<em>取消</em>")
                        .on("click",function () {
                            cateDialog.close();
                        });

                        cateDialog=new $.Dialog({
                            title: "选择商品所属类别",
                            width: 480,
                            content: pFrg
                        });

                        beforeShow(categoryIds);
                        callback(_self.getSelectedCates());
                    }

                });

                function beforeShow(ids) {
                    clearCates();
                    $.each(selectors,function (item) {
                        $.each(ids,function (id) {
                            if(id==item.categoryID) {
                                pushCate(item);
                            }
                        });
                    });
                }

                this.show=function (ids) {
                    beforeShow(ids);
                    cateDialog.show();
                };

                this.getSelectedCates=function () {
                    var ids=[];
                    $.each(selectedCates,function (items) {
                        ids.push({ id: items.categoryID,name: items.html() });
                    });
                    return ids;
                };

            };

            var categoryID;
            var categoryIds=[];
            if(categoryID)
                categoryIds.push(categoryID);

            var categorySelector;

            var picCfg={
                "0": ["图片","选择图片","图片描述","picUpload"],
                "1": ["颜色","颜色图片","颜色描述","colors"]
            };

            var productData,pics,picForms,picViews,picIndex=0;
            function load() {
                productData=null;
                pics=[];
                picForms=[];
                picViews={};
                picIndex=0;

                $.post("/Manage/Product/GetProductByID/",function (res) {
                    if(res.success) {
                        productData=res.data;
                        categoryID=productData.CategoryID;
                        $("name").html(res.data.Name);
                        $("serial").html(res.data.Serial);
                        $("code").html(res.data.Code);
                        $("material").html(res.data.Material);
                        $("weight").html(res.data.Weight);
                        $("characteristic").html(res.data.Characteristic);
                        $("designer").html(res.data.Designer);
                        $("price").html(res.data.Price);
                        $("isNew").html(res.data.IsNew?"是":"否");
                        if(res.data.IsOnSale) {
                            $("isOnSale").html("是");
                            $("specialPricePnl").style.display="";
                            $("specialPrice").html(res.data.SpecialPrice);
                        } else {
                            $("isOnSale").html("否");
                            $("specialPricePnl").style.display="none";
                            $("specialPrice").html("");
                        }

                        $("isRecommend").html(res.data.IsRecommend?"是":"否");
                        $("canPurchasedSeparately").html(res.data.CanPurchasedSeparately?"是":"否");
                        $("freight").html(res.data.Freight);
                        $("freight1").html(res.data.Freight1);
                        $("quantity").html(res.data.Quantity);
                        $("points").html(res.data.Points);
                        $("content").html(res.data.Description);

                        $("picUpload").innerHTML="";

                        categorySelector=new CategorySelector(productData.Categories,function (cates) {
                            categoryIds=[];
                            $("categories").html("");
                            $.each(cates,function (item) {
                                categoryIds.push(item.id);
                                $("SPAN",$("categories")).html(item.name);
                                $("categories").appendText(" ");
                            });
                            categoryID=categoryIds[0];
                        });

                        if(res.data.ProductPictures) {
                            var cont=$("TR",$("TBODY",$("TABLE",$("picUpload"))));
                            $.each(res.data.ProductPictures,function (item) {
                                createPicForm(cont,item);
                            });
                        }

                        if(res.data.Colors) {
                            var cont=$("TR",$("TBODY",$("TABLE",$("colors"))));
                            $.each(res.data.Colors,function (item) {
                                createPicForm(cont,item);
                            });
                        }

                        if(res.data.FreightModels) {
                            $.each(res.data.FreightModels,function (item,i) {
                                $("SPAN",$("freightModels")).html(res.data.FreightModelNames[i]);
                            });
                        }

                    } else
                        alert(res.msg);

                },{
                    id: "@ViewBag.productID"
                });
            };

            load();

            function createPicForm(container,picData) {
                var td=$("TD",container);
                var view=$("IMG",td).css({ marginLeft: "10px",width: "60px",height: "60px" });
                $("BR",td);
                if(picData) {
                    view.src="@ViewBag.mediaServer"+picData.Url;
                    td.appendText(picData.PictureDesc);
                }
            };

        });

    </script>
}
<div style="width: 780px; margin: 0px auto;">
    <table class="form">
        <tr>
            <th valign="top">所属类别：</th>
            <td>
                <div id="categories">
                </div>
            </td>
        </tr>
        <tr>
            <th>产品名：</th>
            <td id="name"></td>
        </tr>
        <tr>
            <th>型号：</th>
            <td id="code"></td>
        </tr>
        <tr>
            <th>库存：</th>
            <td id="quantity"></td>
        </tr>
        <tr>
            <th>系列：</th>
            <td id="serial"></td>
        </tr>
        <tr>
            <th>材质：</th>
            <td id="material"></td>
        </tr>
        <tr>
            <th>尺寸重量：</th>
            <td id="weight"></td>
        </tr>
        <tr>
            <th>产品特征：</th>
            <td id="characteristic"></td>
        </tr>
        <tr>
            <th>设计师：</th>
            <td id="designer"></td>
        </tr>
        <tr>
            <th valign="top"><br>
                颜色：</th>
            <td id="colors"></td>
        </tr>
        <tr>
            <th>价格：</th>
            <td id="price"></td>
        </tr>
        <tr>
            <th>是否促销：</th>
            <td id="isOnSale"></td>
        </tr>
        <tr id="specialPricePnl" style="display: none">
            <th>特价：</th>
            <td id="specialPrice"></td>
        </tr>
        <tr>
            <th>运费模板：</th>
            <td id="freightModel">
                <div id="freightModels">
                </div>
            </td>
        </tr>
        <tr>
            <th>运费：</th>
            <td id="freight"></td>
        </tr>
        <tr>
            <th>次件运费：</th>
            <td id="freight1"></td>
        </tr>
        <tr>
            <th>积分：</th>
            <td id="points"></td>
        </tr>
        <tr>
            <th valign="top"><br>
                产品图片：</th>
            <td id="picUpload"></td>
        </tr>
        <tr>
            <th>是否推荐：</th>
            <td id="isRecommend"></td>
        </tr>
        <tr>
            <th>是否是新品：</th>
            <td id="isNew"></td>
        </tr>
        <tr>
            <th>能否单独购买：</th>
            <td id="canPurchasedSeparately"></td>
        </tr>
    </table>
    <div class="newsContent">
        <strong>产品描述</strong>
        <div id="content">
        </div>
    </div>
</div>
